fastapi==0.115.6
uvicorn[standard]==0.35.0
python-multipart==0.0.20

pydantic==2.11.7

numpy==1.26.4
pandas==2.2.3

torch==2.3.1
torchvision==0.18.1
torchaudio==2.3.1

faster-whisper==1.1.1
ctranslate2==4.4.0

transformers==4.43.4
accelerate==0.34.2

sentence-transformers==3.0.1
faiss-cpu==1.8.0.post1

librosa==0.10.2.post1
soundfile==0.13.1
pydub==0.25.1

langchain==0.3.27
langchain-community==0.3.29

huggingface-hub==0.24.7

pyannote.audio==3.1.1

torchmetrics==1.4.1
lightning==2.3.3
pytorch-lightning==2.3.3

scikit-learn==1.5.2

python-dotenv==1.1.1

httpx==0.28.1
requests==2.32.5

loguru==0.7.3
orjson==3.11.3

ollama==0.5.3

openpyxl==3.1.5
tqdm==4.67.1